%script
  var all_meals = [];
  var all_workouts = [];
  var selected_date_meals = [];
  var selected_date_workouts = [];

.row
  .twelve.columns
    %h1#todays_date

.row
  .four.columns
    = button_tag '+ Meal', :id => 'new_meal', :class => 'button success';
    = button_tag '+ Workout', :id => 'new_workout', :class => 'button success';
  .four.columns
  .four.columns


.row
  .twelve.columns
    #calories

.row
  .five.columns
    .form.meal_form.hide
      = form_for @meal do |f|
        = f.button "Save", :type => 'button', :id => 'create_meal', :class => 'button info'
        = f.button "Cancel", :type => 'button', :class => 'button info cancel'
        = f.label :name, "Meal description"
        = f.text_field :name, :autofocus => true
        = f.label :calories, "Calories consumed (positive number)"
        = f.text_field :calories
        = f.label :date
        = f.text_field :date
  .seven.columns

.row
  .five.columns
    .form.workout_form.hide
      = form_for @workout do |f|
        = f.button "Save", :type => 'button', :id => 'create_workout', :class => 'button info'
        = f.button "Cancel", :type => 'button', :class => 'button info cancel'
        = f.label :name, "Workout description"
        = f.text_field :name, :autofocus => true
        = f.label :calories, "Calories burned (negative number)"
        = f.text_field :calories
        = f.label :date
        = f.text_field :date
  .seven.columns

.row
  .three.columns
    %h5 Your meals today:
    %ul.meals_list
      - @meals.each do |meal|
        %script
          = "all_meals.push({id:#{meal.id}, name:'#{meal.name}', calories: #{meal.calories}, user_id: #{meal.user_id}, date: '#{meal.date.strftime("%Y-%m-%d %H:%M:%S")}'});"
  .three.columns
    %h5 Your workouts today:
    %ul.workouts_list
      - @workouts.each do |workout|
        %script
          = "all_workouts.push({id:#{workout.id}, name:'#{workout.name}', calories: #{workout.calories}, user_id: #{workout.user_id}, date: '#{workout.date.strftime("%Y-%m-%d %H:%M:%S")}'});"
  .six.columns
    %h3 Your Calorie Count Today:
    #daily_calorie_total
    #chart









